# modules 
node_modules
# package lock
package-lock.json
#session
zxbot_data
#session2
store
#media1
test.js
test.json
#media2
lib/utils
lib/tmp

# managed
**.data.json
**.mp3
**.mp3
**.node-persist**
**_IGNORE_**
# end managed
